<div class="card">
    <form class="card-body" (ngSubmit)="addNewTask();" autocomplete="off">
        <h3>Add new Task</h3>
        <div class="row">
            <div class="col-md-12">
                <label for="task">Task: </label>
                <input type="text" class="form-control" name="desc" [(ngModel)]="newTask.desc">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary block">
                    Add New Task
                </button>
            </div>
        </div>
    </form>
</div>